.formfield  {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.4);
  justify-content: center;
  align-items: center;
  display: flex;
}
.form-Register,
.form-login {
  width: 600px;
  height: 500px;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 30px;
  background: white;
}
.form-Register input,
.form-login  input {
  width: 100%;
  height: 40px;
  margin-top: 40px;
  padding: 15px;
  outline: none;
  color: black;
  border: 1px solid red;
}
.fom-btn {
  width: 140px;
  height: 50px;
  background: blue;
  font-size: 20px;
  color: white;
  margin-top: 40px;
  border-radius: 15px;
}

